PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
DATABASE_URL=
PUBLIC_API_URL=
FRONTEND_URL=
PAYPAL_WEBHOOK_ID=
GEMINI_KEY=
GEMINI_MODEL=
TIMEZONE=
GROQ_KEY=
GROQ_MODEL=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
EMAIL_FROM=
GEO_COUNTRIES=
